ce_repository = "%ce_repository%"
ee_repository = "%ee_repository%"
b2b_repository = "%b2b_repository%"

commit_message = "%commit_message%"
git_user_name = "%git_user_name%"
git_user_email = "%git_user_email%"

[editions]
edition[] = "ce"
edition[] = "ee"
edition[] = "b2b"

[ce_tags]
release[] = "%ce_previous_release%"

[ee_tags]
release[] = "%ee_previous_release%"

[b2b_tags]
release[] = "%b2b_previous_release%"

[ce_latest]
release = "%ce_release%"
commit = "%ce_commit%-rc"

[ee_latest]
release = "%ee_release%"
commit = "%ee_commit%-rc"

[b2b_latest]
release = "%b2b_release%"
commit["b2b"] = "%b2b_commit%-rc"
commit["ce"] = "%ce_commit%-rc"
commit["ee"] = "%ee_commit%-rc"
